@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #000000;
  color:#22d4fd;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  width: 90%;
  max-width: 1200px;
  align-items: center;
  justify-content: space-between;
}

.content-left {
  max-width: 600px;           
}

.content-left h1 {
  font-size: 2em;
  margin-bottom: 20px;
  line-height: 1.4;
}

.content-left h1 span {
  color: #22d4fd;
  font-weight: bold;
}

.content-left p {
  font-size: 1em;
  margin-bottom: 30px;
  line-height: 1.6;
}

.buttons {
  display: flex;
  gap: 20px;
}

.btn {
  background-color: #22d4fd;
  color: #ffffff;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #000000;
}

.content-right img {
  width: 500px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
div#saporra {
  gap: 20px;
  position: absolute;
  right: 650px;
  top: 10px;
  margin: 10px;
  border-radius: 3px;
  background-color: #00ccff;
  color: #ff0000;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.cabecalho:hover {
  background-color: #000000;
}